params {
  input   = '/data_lab_PGP/sarek_pipeline/samples.tsv'
  outdir  = '/data_lab_PGP/sarek_pipeline/results'
  genome  = 'local.GATK.GRCh38'
  tools   = 'haplotypecaller,manta'
}

genomes {
  local {
    GATK {
      GRCh38 {
        fasta      = '/references/Homo_sapiens_assembly38.fasta'
        fasta_fai  = '/references/Homo_sapiens_assembly38.fasta.fai'
        dict       = '/references/resources_broad_hg38_v0_Homo_sapiens_assembly38.dict'
        dbsnp      = '/references/resources_broad_hg38_v0_Homo_sapiens_assembly38.dbsnp138.vcf'
        dbsnp_tbi  = '/references/resources_broad_hg38_v0_Homo_sapiens_assembly38.dbsnp138.vcf.idx'
      }
    }
  }
}
