// Test configuration for JAX CNV module

params {
    // Test input files
    test_bam       = 'test_data/test.bam'
    test_reference = 'test_data/test_ref.fa'
    
    // JAX CNV specific parameters
    jax_cnv_sif    = '/home/dolmomar/cnv_pipeline/jax_module/jax-cnv.sif'  
    threads        = 4
    do_preprocessing = true   // Only useful if your workflow uses this
    
    // Output directory
    outdir = 'test_results'
}

process {
    executor = 'local'
    cpus     = 4
    memory   = '8GB'
    
    withName: 'JAX_CNV' {
        cpus   = 4
        memory = '8GB'
        time   = '2h'
        publishDir = [
            path: "${params.outdir}/jax_cnv",
            mode: 'copy',
            pattern: '*.{bed,log}'
        ]
    }
}

profiles {
    test {
        params.test_bam       = 'test_data/small_test.bam'
        params.test_reference = 'test_data/small_ref.fa'
        process.executor      = 'local'
    }
    
    docker {
        docker.enabled     = true
        process.container  = 'your_jax_cnv_container:latest'        
    }
    
    singularity {
        singularity.enabled    = true
        process.container      = params.jax_cnv_sif
        singularity.autoMounts = true
    }
}
